.sidebarChat{
    display: flex;
    align-items: center;
    color:white;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.sidebarChat > .MuiAvatar-root{
width:50px;
height:50px;
margin-right:10px;
margin-bottom:10px;
cursor:pointer;
}

.sidebarChat__info{
    display: flex;
    flex-direction: column;
    position: relative;
    width:100%;
}

.sidebarChat:hover{
    background-color: rgba(146,146,146,0.8);
}

.sidebarChat__info >small{
    position: absolute;
    right:0;
    bottom: -15px;
}

.sidebarChat__info >h3{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.sidebarChat__info > p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:1;
    max-height: 1.5rem;
}